@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap');

:root {
  --font-family: 'Manrope', sans-serif;

  --gradient-text: linear-gradient(89.97deg, #AE67FA 1.84%, #F49867 102.67%);
  --gradient-bar: linear-gradient(103.22deg, #AE67FA -13.86%, #F49867 99.55%);
  
  --color-bg: #040C18;
  --color-footer: linear-gradient(90deg, rgba(5,10,161,1) 1%, rgba(45,50,107,0.38467261904761907) 55%, rgba(50,120,117,1) 100%);
  --color-blog: #a2c1e0;
  --color-text: #ddeb91;
  --color-subtext: #524c00;
}
